Desafio 8/avalia_entities.json
[{"id":"8f6b72d6.6deaa","type":"tab","label":"Avalia Entities","disabled":false,"info":""},{"id":"a3b61cfa.412f","type":"cloudant in","z":"8f6b72d6.6deaa","name":"","cloudant":"","database":"fca","service":"cpcleite-node-mbtc-cloudant-1599325005165-80672","search":"_idx_","design":"arquivo","index":"arq","x":330,"y":60,"wires":[["2a4c2029.c397a","27f61320.eda91c"]]},{"id":"a0cb6210.1401a","type":"inject","z":"8f6b72d6.6deaa","name":"100","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_10[0-9]/","payloadType":"str","x":90,"y":60,"wires":[["a3b61cfa.412f"]]},{"id":"27f61320.eda91c","type":"split","z":"8f6b72d6.6deaa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":180,"wires":[["898ed14a.564f8"]]},{"id":"898ed14a.564f8","type":"template","z":"8f6b72d6.6deaa","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"arquivo\": \"{{payload.arquivo}}\",\"texto\": \"{{{payload.texto}}}\"}","output":"json","x":480,"y":180,"wires":[["92364271.a855e"]]},{"id":"92364271.a855e","type":"change","z":"8f6b72d6.6deaa","name":"","rules":[{"t":"set","p":"arquivo","pt":"msg","to":"payload.arquivo","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.texto","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":260,"wires":[["f356ebae.a19ed8"]]},{"id":"9f72eb0e.5e3818","type":"natural-language-understanding","z":"8f6b72d6.6deaa","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/5458dfa6-47ac-47f4-896e-cb54539b5ee2","x":340,"y":420,"wires":[["3fc92010.9c8ec","ced6d410.f16b78"]]},{"id":"f356ebae.a19ed8","type":"function","z":"8f6b72d6.6deaa","name":"","func":"msg.nlu_options = \n{\"entity_model\":\"4fb1199f-aea5-4b1e-ab7c-541a05d51f44\",\n \"relations_model\":\"4fb1199f-aea5-4b1e-ab7c-541a05d51f44\"    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":340,"wires":[["9f72eb0e.5e3818"]]},{"id":"3fc92010.9c8ec","type":"function","z":"8f6b72d6.6deaa","name":"Principal","func":"// initialize auxiliary variables\n\nlista = ['ACESSORIOS', 'CONFORTO', 'CONSUMO',\n                       'DESEMPENHO', 'DESIGN', 'MANUTENCAO',\n                       'MODELO', 'SEGURANCA'];\n                       \nprioridade = {'SEGURANCA':1,'CONSUMO':2, 'DESEMPENHO':3,\n              'MANUTENCAO':4, 'CONFORTO':5, 'DESIGN':6,\n              'ACESSORIOS':7};\n              \nrecomendacoes = {'SEGURANCA'  : ['TORO', 'RENEGADE'],\n                 'CONSUMO'    : ['DUCATO', 'ARGO'],\n                 'DESEMPENHO' : ['FIORINO', 'LINEA'],\n                 'MANUTENCAO' : ['CRONOS', 'MAREA'],\n                 'CONFORTO'   : ['FIAT 500', 'CRONOS'],\n                 'DESIGN'     : ['MAREA', 'FIORINO'],\n                 'ACESSORIOS' : ['LINEA', 'DUCATO']};              \ntipos = {};\na = {};\nc = {};\ni = 0;\nsentimento = 0;\n\n// cria a lista de menções, e resume sentimento para cada uma\nObject.values(msg.features.entities).forEach(item => {\n    if (lista.indexOf(item.type) != -1){\n        // create entity object\n        b = {}\n        b.entity = item.type\n        b.sentiment = item.sentiment.score\n        b.mention = item.text\n        c[i] = b\n        i++\n        \n        // add entity's entry\n        if (item.type in tipos){\n            tipos[item.type] += item.sentiment.score\n        }\n        else {\n            tipos[item.type] =  item.sentiment.score\n        }\n        sentimento += item.sentiment.score;\n    }\n    });\n    \n// Ordena entidades por sentimento\nordem = Object.keys(tipos).sort(function(a,b){return tipos[a]-tipos[b]})\n    \n// evaluate gap\nif ((ordem.length > 1)&&(tipos[ordem[1]] - tipos[ordem[0]] < 0.1)){\n\n}\nelse{\n    \n}\n\nif (i===0) {\n    a.arquivo = msg.arquivo\n    a.entities = []\n    msg.payload = a\n}\nelse {\n    a.arquivo = msg.arquivo\n    a.entities = c\n    msg.payload = a\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":500,"wires":[["503d1f05.87b3c","563562ae.5a92ec"]]},{"id":"503d1f05.87b3c","type":"debug","z":"8f6b72d6.6deaa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":500,"wires":[]},{"id":"563562ae.5a92ec","type":"cloudant out","z":"8f6b72d6.6deaa","name":"","cloudant":"","database":"fca-entities","service":"cpcleite-node-mbtc-cloudant-1599325005165-80672","payonly":true,"operation":"insert","x":330,"y":580,"wires":[]},{"id":"2a4c2029.c397a","type":"debug","z":"8f6b72d6.6deaa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":80,"wires":[]},{"id":"ced6d410.f16b78","type":"debug","z":"8f6b72d6.6deaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"98a5697b.bda2c8","type":"inject","z":"8f6b72d6.6deaa","name":"10-19","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_1[0-9]/","payloadType":"str","x":90,"y":140,"wires":[["a3b61cfa.412f"]]},{"id":"489abbe3.931764","type":"inject","z":"8f6b72d6.6deaa","name":"20-29","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_2[0-9]/","payloadType":"str","x":90,"y":180,"wires":[["a3b61cfa.412f"]]},{"id":"2eb1704c.5313e","type":"inject","z":"8f6b72d6.6deaa","name":"30-39","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_3[0-9]/","payloadType":"str","x":90,"y":220,"wires":[["a3b61cfa.412f"]]},{"id":"45d80c5.e8935f4","type":"inject","z":"8f6b72d6.6deaa","name":"40-49","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_4[0-9]/","payloadType":"str","x":90,"y":260,"wires":[["a3b61cfa.412f"]]},{"id":"b6b57138.fc741","type":"inject","z":"8f6b72d6.6deaa","name":"50-59","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_5[0-9]/","payloadType":"str","x":90,"y":300,"wires":[["a3b61cfa.412f"]]},{"id":"ddbc1eeb.bdb54","type":"inject","z":"8f6b72d6.6deaa","name":"60-69","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_6[0-9]/","payloadType":"str","x":90,"y":340,"wires":[["a3b61cfa.412f"]]},{"id":"8f19a299.33a3a","type":"inject","z":"8f6b72d6.6deaa","name":"70-79","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_7[0-9]/","payloadType":"str","x":90,"y":380,"wires":[["a3b61cfa.412f"]]},{"id":"baa6c7d0.4bfed8","type":"inject","z":"8f6b72d6.6deaa","name":"80-89","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_8[0-9]/","payloadType":"str","x":90,"y":420,"wires":[["a3b61cfa.412f"]]},{"id":"644ef30c.349fac","type":"inject","z":"8f6b72d6.6deaa","name":"90-99","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_9[0-9]/","payloadType":"str","x":90,"y":460,"wires":[["a3b61cfa.412f"]]},{"id":"ca2f4eb8.23025","type":"inject","z":"8f6b72d6.6deaa","name":"1-9","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"arquivo: /train_[0-9]{1}/","payloadType":"str","x":90,"y":100,"wires":[["a3b61cfa.412f"]]}]