Desafio 8/post_fca.json
[{"id":"77875f87.aec05","type":"tab","label":"API REST Desafio 8","disabled":false,"info":""},{"id":"6b7f104f.2974c","type":"watson-speech-to-text","z":"77875f87.aec05","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"lvICNv5xVnrV_jvGkP_u1fmTdT6RJRJgzhOUqWv_HvFM","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/89fb579e-1400-4101-a7ce-a9875823d0d7","x":120,"y":260,"wires":[["30cd715c.763f2e"]]},{"id":"20a1f2cd.7f88ee","type":"http in","z":"77875f87.aec05","name":"POST_FCA","url":"/fca","method":"post","upload":true,"swaggerDoc":"","x":110,"y":60,"wires":[["5d02f507.95ec9c"]]},{"id":"324f2eb3.a1ae32","type":"change","z":"77875f87.aec05","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":200,"wires":[["6b7f104f.2974c"]]},{"id":"76dd2680.04b908","type":"switch","z":"77875f87.aec05","name":"Tipo de request","property":"req.files.length","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":120,"wires":[["324f2eb3.a1ae32"],["cd254898.9e98d8"]]},{"id":"57455571.b8afcc","type":"http response","z":"77875f87.aec05","name":"Retorno","statusCode":"","headers":{},"x":320,"y":680,"wires":[]},{"id":"ac5b0f5f.0f476","type":"function","z":"77875f87.aec05","name":"","func":"msg.nlu_options = \n{\"entity_model\":\"4fb1199f-aea5-4b1e-ab7c-541a05d51f44\",\n \"relations_model\":\"4fb1199f-aea5-4b1e-ab7c-541a05d51f44\"    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["1a186307.28444d"]]},{"id":"1a186307.28444d","type":"natural-language-understanding","z":"77875f87.aec05","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":320,"y":520,"wires":[["4bcfd406.32c11c","a0171221.f6cf7"]]},{"id":"5d02f507.95ec9c","type":"change","z":"77875f87.aec05","name":"Modelo","rules":[{"t":"set","p":"car","pt":"msg","to":"req.body.car","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["76dd2680.04b908"]]},{"id":"cd254898.9e98d8","type":"change","z":"77875f87.aec05","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":320,"wires":[["ac5b0f5f.0f476"]]},{"id":"30cd715c.763f2e","type":"change","z":"77875f87.aec05","name":"Get Transcription","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":320,"wires":[["ac5b0f5f.0f476"]]},{"id":"4bcfd406.32c11c","type":"function","z":"77875f87.aec05","name":"Principal","func":"// initialize auxiliary variables\n\nlista = ['ACESSORIOS', 'CONFORTO', 'CONSUMO',\n                       'DESEMPENHO', 'DESIGN', 'MANUTENCAO',\n                       'MODELO', 'SEGURANCA'];\n                       \nprioridade = {'SEGURANCA':1,'CONSUMO':2, 'DESEMPENHO':3,\n              'MANUTENCAO':4, 'CONFORTO':5, 'DESIGN':6,\n              'ACESSORIOS':7};\n              \nrecomendacoes = {'SEGURANCA'  : ['TORO', 'RENEGADE'],\n                 'CONSUMO'    : ['DUCATO', 'ARGO'],\n                 'DESEMPENHO' : ['FIORINO', 'LINEA'],\n                 'MANUTENCAO' : ['CRONOS', 'MAREA'],\n                 'CONFORTO'   : ['FIAT 500', 'CRONOS'],\n                 'DESIGN'     : ['MAREA', 'FIORINO'],\n                 'ACESSORIOS' : ['LINEA', 'DUCATO']};\n                 \ntipos = {}; //entidades lidas\na = {};     //variável axiliar\nc = {};     //entidades formatadas para saída\ni = 0;      //contador de entidades\nsentimento = 0; //totalizador de sentimentos de entidades\n\n// Process entities found\nObject.values(msg.features.entities).forEach(item => {\n    if (lista.indexOf(item.type) != -1){\n        // create entity object\n        b = {}\n        b.entity = item.type\n        b.sentiment = item.sentiment.score\n        b.mention = item.text\n        c[i] = b\n        i++\n        \n        // inclui entidade lida no resumo\n        if (item.type != 'MODELO'){\n            if (item.type in tipos){\n                tipos[item.type] += item.sentiment.score\n            }\n            else {\n                tipos[item.type] =  item.sentiment.score\n            }\n            sentimento += item.sentiment.score;\n        }\n    }\n});\n\n// calcula o valor mínimo\nmin = Math.min(...Object.values(tipos));\n\n// seleciona as entidades com diferenca até 0.1 do mínimo\nfor (var a in tipos){\n    if ((tipos[a]- min)>=0.1){\n        delete tipos[a]\n    }\n    else{\n        tipos[a] = prioridade[a];\n    }\n}\n\n// ordena entidades pelo total do sentimento\nif (!Object.keys(tipos).length){\n    ordem = [\"SEGURANCA\"]\n}\nelse{\n    ordem = Object.keys(tipos).sort(function(a,b){return tipos[a]-tipos[b]})\n}\n\n// formata a saída\nif (i===0) {\n    msg.payload = {\"recommendation\": \"\",\"entities\": []}    \n}\nelse{\n    // sentimento negativo\n    if (msg.features.sentiment.document.score < 0){\n        pior = ordem[0];\n        \n        if (msg.car.toUpperCase() == recomendacoes[pior][0]){\n            a.reccomendation = recomendacoes[pior][1]\n        }\n        else{\n            a.reccomendation = recomendacoes[pior][0]\n        }\n    }\n    else{\n        a.reccomendation = ''\n    }\n    a.entities = c\n    msg.payload = a\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":600,"wires":[["57455571.b8afcc","1629072a.31c4b9"]]},{"id":"1629072a.31c4b9","type":"debug","z":"77875f87.aec05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":680,"wires":[]},{"id":"a0171221.f6cf7","type":"debug","z":"77875f87.aec05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":520,"wires":[]}]