Desafio 8/versao.json
[{"id":"77875f87.aec05","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6b7f104f.2974c","type":"watson-speech-to-text","z":"77875f87.aec05","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"lvICNv5xVnrV_jvGkP_u1fmTdT6RJRJgzhOUqWv_HvFM","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/89fb579e-1400-4101-a7ce-a9875823d0d7","x":120,"y":260,"wires":[["30cd715c.763f2e"]]},{"id":"20a1f2cd.7f88ee","type":"http in","z":"77875f87.aec05","name":"POST_Flac","url":"/flac","method":"post","upload":true,"swaggerDoc":"","x":110,"y":60,"wires":[["5d02f507.95ec9c"]]},{"id":"324f2eb3.a1ae32","type":"change","z":"77875f87.aec05","name":"","rules":[{"t":"set","p":"car","pt":"flow","to":"req.body.car","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":200,"wires":[["6b7f104f.2974c"]]},{"id":"76dd2680.04b908","type":"switch","z":"77875f87.aec05","name":"Tipo de request","property":"req.files.length","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":120,"wires":[["324f2eb3.a1ae32"],["cd254898.9e98d8"]]},{"id":"57455571.b8afcc","type":"http response","z":"77875f87.aec05","name":"Retorno","statusCode":"","headers":{},"x":320,"y":680,"wires":[]},{"id":"ac5b0f5f.0f476","type":"function","z":"77875f87.aec05","name":"","func":"msg.nlu_options = \n{\"entity_model\":\"47765c8a-0da0-4c1f-8337-1ec9612b99e4\",\n \"relations_model\":\"47765c8a-0da0-4c1f-8337-1ec9612b99e4\"    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["1a186307.28444d"]]},{"id":"1a186307.28444d","type":"natural-language-understanding","z":"77875f87.aec05","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":320,"y":520,"wires":[["4bcfd406.32c11c","a0171221.f6cf7"]]},{"id":"5d02f507.95ec9c","type":"change","z":"77875f87.aec05","name":"Modelo","rules":[{"t":"set","p":"car","pt":"flow","to":"req.body.car","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["76dd2680.04b908"]]},{"id":"cd254898.9e98d8","type":"change","z":"77875f87.aec05","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":320,"wires":[["ac5b0f5f.0f476"]]},{"id":"30cd715c.763f2e","type":"change","z":"77875f87.aec05","name":"Get Transcription","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":320,"wires":[["ac5b0f5f.0f476"]]},{"id":"4bcfd406.32c11c","type":"function","z":"77875f87.aec05","name":"Principal","func":"// initialize auxiliary variables\n\nlista = ['ACESSORIOS', 'CONFORTO', 'CONSUMO',\n                       'DESEMPENHO', 'DESIGN', 'MANUTENCAO',\n                       'MODELO', 'SEGURANCA'];\n                       \nprioridade = {'SEGURANCA':1,'CONSUMO':2, 'DESEMPENHO':3,\n              'MANUTENCAO':4, 'CONFORTO':5, 'DESIGN':6,\n              'ACESSORIOS':7};\n              \nrecomendacoes = {'SEGURANCA'  : 'TORO',\n                 'CONSUMO'    : 'DUCATO',\n                 'DESEMPENHO' : 'FIORINO',\n                 'MANUTENCAO' : 'CRONOS',\n                 'CONFORTO'   : 'FIAT 500',\n                 'DESIGN'     : 'MAREA',\n                 'ACESSORIOS' : 'LINEA'};              \ntipos = {};\na = {};\nc = {};\ni = 0;\n\nObject.values(msg.features.entities).forEach(item => {\n    if (lista.indexOf(item.type) != -1){\n        // create entity object\n        b = {}\n        b.entity = item.type\n        b.sentiment = item.sentiment.score\n        b.mention = item.text\n        c[i] = b\n        i++\n        \n        // add entity's entry\n        if (item.type in tipos){\n            tipos[item.type] += item.sentiment.score\n        }\n        else {\n            tipos[item.type] =  item.sentiment.score\n        }\n    }\n    });\n    \nordem = Object.keys(tipos).sort(function(a,b){return tipos[a]-tipos[b]})\n    \n// evaluate gap\nif ((ordem.length > 1)&&(tipos[ordem[1]] - tipos[ordem[0]] < 0.1)){\n\n}\nelse{\n    \n}\n\nif (i===0) {\n    msg.payload = {\"recommendation\": \"\",\"entities\": []}    \n}\nelse {\n    a.reccomendation = flow.get(\"car\");\n    a.entities = c\n    msg.payload = a\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":600,"wires":[["57455571.b8afcc","1629072a.31c4b9"]]},{"id":"1629072a.31c4b9","type":"debug","z":"77875f87.aec05","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":680,"wires":[]},{"id":"a0171221.f6cf7","type":"debug","z":"77875f87.aec05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":520,"wires":[]}]