Desafio 7/flows.json
[{"id":"b4cf5122.ee1e6","type":"tab","label":"workspace.defaultName","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"b4cf5122.ee1e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"1ca9e642.f4013a","type":"mqtt in","z":"b4cf5122.ee1e6","name":"","topic":"tnt","qos":"2","datatype":"auto","broker":"2051d7a4.cbc608","x":90,"y":200,"wires":[["d8ab294d.b075b8"]]},{"id":"d8ab294d.b075b8","type":"json","z":"b4cf5122.ee1e6","name":"","property":"payload","action":"","pretty":false,"x":250,"y":100,"wires":[["f2f2649a.0d0d98","6aebc91b.332e68"]]},{"id":"5978d803.bec908","type":"cloudant out","z":"b4cf5122.ee1e6","name":"","cloudant":"","database":"tnt-iot","service":"cpcleite-node-mbtc-cloudant-1599325005165-80672","payonly":true,"operation":"insert","x":530,"y":240,"wires":[]},{"id":"6aebc91b.332e68","type":"function","z":"b4cf5122.ee1e6","name":"","func":"if (false) return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":180,"wires":[["5978d803.bec908"]]},{"id":"2051d7a4.cbc608","type":"mqtt-broker","z":"","name":"","broker":"tnt-iot.maratona.dev","port":"30573","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]